html{
  width: 100%;
  font-family: arial;
  margin: 0;
  padding: 0;
  background: #61a1bc;
}

body{
  padding: 15px;
}


.app{
  width: 80%;
  margin: auto;
  padding: 15px;
}

.titre{
  width: 100%;
  text-align: left;
  margin-top: 25px;
  font-size: 3em;
  color: snow;
}

table{
  width: 100%;
}

table tr>td{
  width: 45%;
}

table tr>td:nth-child(2){
  width: 10%;
}

table table{
  text-align: center;
}

table tr:first-of-type{
  font-weight: bold;
}

.liste{
  height: 300px;
  width: 100%;
  background: snow;
  overflow-y: scroll;
}
